name: User Service CI

on:
  push:
    branches:
      - main
    paths:
      - 'UserService/**'
  pull_request:
    branches:
      - main
    paths:
      - 'UserService/**'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0

      - name: Restore Dependencies
        run: dotnet restore UserService/UserService.Tests/UserService.Tests.csproj

      - name: Build
        run: dotnet build UserService/UserService/UserService.csproj --configuration Release --no-restore

      - name: Run Tests
        run: dotnet test UserService/UserService.Tests/UserService.Tests.csproj --no-restore --verbosity normal
  
  dockerize-and-push-dev:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/smartshopper-user_service:dev UserService
          docker tag ${{ secrets.DOCKER_USERNAME }}/smartshopper-user_service:dev ${{ secrets.DOCKER_USERNAME }}/user_service:${{ github.sha }}

      - name: Push Docker image to Docker Hub
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/smartshopper-user_service:dev
          docker push ${{ secrets.DOCKER_USERNAME }}/smartshopper-user_service:${{ github.sha }}
